fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pillow>=10.1.0
numpy==1.26.3
onnxruntime==1.22.0
pydantic>=2.7.0
opencv-python==4.9.0.80

transformers==4.37.2

torchaudio==2.7.0
requests==2.31.0
tqdm==4.66.1
soundfile==0.12.1
pydub==0.25.1
Librosa==0.10.1


torchvision==0.22.0
onnx==1.15.0
skl2onnx==1.16.0

seaborn==0.13.1
pyarrow==19.0.0
